# ChromaDB
CHROMA_HOST=localhost
CHROMA_PORT=8000

# OpenRouter
OPEN_ROUTER_API_KEY=your_openrouter_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
OPEN_ROUTER_DEFAULT_MODEL=google/gemini-2.5-flash-lite
CHAT_COMPLETIONS_URL=https://openrouter.ai/api/v1/chat/completions
